body {
    font-family: "Raleway" !important;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
    color: #2A3647;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100vw;


}

