body {
    font-family: "Raleway" !important;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
    color: #2A3647;
}

.content {
    margin-left: 328px;
    width: 1014px;
    height: 1024px;
    top: 311px;
    left: 328px;
    gap: 24px;
    opacity: 0px;
}

