<p class="headline">Kanban Project Managment Tool</p>
<img class="headerlogo" src="./../assets/icons/svg/joinLogo.svg" alt="">
<div class="help">
    <a href="./../html/help.html">
        <img class="helpImg" src="./../assets/icons/png/help.png" alt="">
    </a>
    <div class="logoutButton">

        <div class="logoutButton">
            <p class="userTag" id="logedInUser" onclick="toggleShowMenu()"></p>
            <div id="dropdownMenu" class="dropdown-menu">
            <a onclick="logout(event)" href="../index.html">

                <span>Log out</span>
            </a>
            <a href="./../html/help.html">
                <span>Help</span>
            </a>
            <a href="./../html/legalNotice.html">
                <span>Legal notice</span>
            </a>
        </div>
        <div onclick="logOut()" class="logout">LOGOUT</div>

    </div>
</div>