<img class="sidebarLogo" src="../../assets/icons/svg/joinLogoWhite.svg" alt="joinLogo">
    <ul>
        <li><img src="../../assets/icons/png/summary.png"><a class="sidebarNavBtn" href="./../html/summary.html">Summary</a></li>
        <li><img src="../../assets/icons/png/addTask.png"><a class="sidebarNavBtn" href="./../html/addTask.html">Add Task</a></li>
        <li><img src="../../assets/icons/png/board.png"><a class="sidebarNavBtn" href="./../html/board.html">Board</a></li>
        <li><img src="../../assets/icons/png/contacts.png"><a class="sidebarNavBtn" href="./../html/contacts.html">Contacts</a></li>
    </ul>
    <div class="legalNotice">
        <a class="legalNoticeBtn" href="./../html/privacyPolicy.html">Privacy Policy</a>
        <a class="legalNoticeBtn" href="./../html/legalNotice.html">Legal notice</a>
    </div>
