<img class="sidebarLogo" src="../../assets/icons/svg/joinLogoWhite.svg" alt="joinLogo">
    <ul>
        <li><img src="../../assets/icons/png/summary.png"><a class="sidebarNavBtn" href="../../summary/summary.html">Summary</a></li>
        <li><img src="../../assets/icons/png/addTask.png"><a class="sidebarNavBtn" href="#">Add Task</a></li>
        <li><img src="../../assets/icons/png/board.png"><a class="sidebarNavBtn" href="../../board/board.html">Board</a></li>
        <li><img src="../../assets/icons/png/contacts.png"><a class="sidebarNavBtn" href="../../contacts/contacts.html">Contacts</a></li>
    </ul>
    <div class="legalNotice">
        <a class="legalNoticeBtn" href="../../privacy policy + legal notice/privacy policy/privacyPolicy.html">Privacy Policy</a>
        <a class="legalNoticeBtn" href="../../privacy policy + legal notice/legal notice/legalNotice.html">Legal notice</a>
    </div>
