<footer>
    <img class="sidebarLogo" src="../../assets/icons/svg/joinLogoWhite.svg" alt="joinLogo">
    <ul>
        <li><a class="sidebarNavBtn active" href="./../html/summary.html"><img src="../../assets/icons/png/summary.png">Summary</a></li>
        <li><a class="sidebarNavBtn" href="./../html/board.html"><img src="../../assets/icons/png/board.png">Board</a></li>
        <li><a class="sidebarNavBtn" href="./../html/addTask.html"><img src="../../assets/icons/png/addTask.png">Add Task</a></li>
        <li><a class="sidebarNavBtn" href="./../html/contacts.html"><img src="../../assets/icons/png/contacts.png">Contacts</a></li>
    </ul>
    <div class="legalNotice">
        <a class="legalNoticeBtn" href="./../html/privacyPolicy.html">Privacy Policy</a>
        <a class="legalNoticeBtn" href="./../html/legalNotice.html">Legal notice</a>
    </div>
</footer>