@media (min-width: 580px) {
    .taskFormButtons { 
bottom: 76px !important;
}
}

@media (max-width: 815px) {

    body {
        background-color: #F6F7F8;
        position: relative;
        overflow: hidden;
    }

    .addTaskContent {
        padding: 10px;
        width: calc(100% - 20px);
        box-sizing: border-box;
        height: calc(100vh - 180px); 
        overflow-y: auto;
        margin-bottom: 100px;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 63px;
        background-color: #F6F7F8;
    }

    .formParts {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .formPart {
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }

    .separator {
        display: none;
    }

    .priorityBtnContainer {
        display: flex;
        gap: 5px;
        justify-content: center;
    }

    .priorityBtn {
        flex: 1;
        height: 50px;
        font-size: 14px;
    }

    .formPart, .formParts {
        margin-bottom: 5px;
        
    }

    label {
        margin-bottom: 3px;
    }

    input,
    textarea,
    select {
        margin-bottom: 10px;
        font-size: 14px;
        padding: 10px;
    }

    .taskFormButtons {
       display: none;
    }

    .taskFormButtons {
        display: flex;
        justify-content: center; 
        align-items: center; 
        position: fixed;
        gap: 10px; 
        bottom: 89px;
        left: 0;
        width: 100%;
        background-color: #F6F7F8;
        padding-bottom: 10px;
        z-index: 1100;
    }

    .button {
        flex: 0 1 auto; 
        max-width: 200px; 
        height: 50px; 
        padding: 10px;
        font-size: 16px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .button img {
        margin-left: 8px; 
    }


    .buttonContainer .button:last-child {
        order: -1;
    }

    h1 {
        position: fixed;
        background-color: #F6F7F8;
        font-weight: bold;
        font-size: 50px;
        top: 96px;
        width: 100%;
    }

    textarea {
        resize: none;
        min-height: 80px;
    }

    .addSubtaskButton img {
        width: 20px;
        height: 20px;
    }

    .priorityBtn img {
        width: 20px;
        height: 20px;
    }

    .foot {
        flex-direction: row !important;
      }

}