body {
  overflow: hidden;
}

.selected-contact {
  display: inline-block;
  margin-right: 8px;
}

h4 {
  width: 179px;
}

.addTaskBtn {
  background-color: #2a3647;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 211px;
  height: 48px;
  font-size: 21px;
  font-weight: 700;
  box-shadow: none;
}

.contact-name {
  flex-grow: 1;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-right: 10px;
}

.closebtn {
  display: flex;
  align-items: center;
  justify-content: end;
}

.custom-checkbox {
  border: 1px solid grey;
  width: 16px;
}

.custom-checkbox:checked {
  border: 1px solid grey;
  background-color: #2a3647;
}

h1 {
  font-size: 61px;
  font-weight: 700;
}

.addSubtaskButton {
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.boardHead {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 50px;
  margin-left: 64px;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 28px;
  margin-left: 320px;
}

.searchBar {
  border-radius: 10px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  height: 48px;
  width: 262px;
  overflow: hidden;
}

.searchBar input {
  border: none;
}

.searchBar input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.divider {
  width: 1px;
  height: 60%;
  background-color: #ccc;
  margin: 0px;
}

.searchBar .btn {
  border: none;
  background: none;
  color: #333;
  padding: 0 15px;
}

.formControl {
  padding-left: 16px;
  font-size: 20px;
}

.listHeadline {
  display: flex;
  align-items: center;
  padding-right: 16px;
  gap: 17px;
}

.taskList {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 60px;
  column-gap: 26px;
  padding-left: 64px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.listBody {
  width: 280px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  /* Ermöglicht vertikales Scrollen */
  touch-action: pan-y;
  /* Scroll nur in eine Richtung erlaubt */
  max-height: 673px;
}

.dragging .listHeadline,
.dragging .taskContainer {
  pointer-events: none;
  /* Verhindert, dass diese Bereiche als Ziel erkannt werden */
}


.subtaskButtons:hover {
  cursor: pointer;
}

.error {
  border: 1px solid red;
  background-color: #ffeeee;
  /* Optional: Heller roter Hintergrund */
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: -17px;
  display: none;
}

.showalert {
  display: block;
}


.scroll-zone-top {
  top: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
}

.scroll-zone-bottom {
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
}



.nothingToDo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted #a8a8a8;
  border-radius: 10px;
  background-color: #e7e7e7;
  color: #a8a8a8;
  width: 246px;
}

.editSubtaskBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nothingToDoText {
  margin: 10px;
}

.progress {
  width: 120px;
  height: 8px;
}

.progress-bar {
  height: 100%;
  /* Füllt die Progressbar in der Höhe */
  background-color: #2a3647;
  /* Farbe der Progressbar */
  transition: width 0.5s ease-in-out;
  /* Smooth Animation */
}

.progress-bar.complete {
  background-color: #f39c12;
  /* Farbe für 100% */
  box-shadow: 5px 5px 15px 5px #f39c12, 5px 5px 15px 5px rgba(243, 156, 18, 0.5);
}

.boardCard {
  box-shadow: 0px 2px 8px rgb(223, 224, 225);
  border-radius: 30px;
  padding: 16px;
  height: 263px;
  width: 230px;
  background: #ffffff;
}

.taskCardTitle {
  width: 200px;
  font-size: 16px;
  font-weight: 700;
  color: #2a3647;
  overflow-wrap: break-word;
  overflow-wrap: break-word;
  /* Optional für Wortumbrüche */
  width: 200px;
  /* Box-Breite */
  overflow: hidden;
  /* Verhindert das Überlaufen */
  text-overflow: ellipsis;
  /* Fügt ... bei Überlauf hinzu */
  white-space: nowrap;
  /* Verhindert den Zeilenumbruch */
}

.taskCardDescription {
  font-size: 16px;
  font-weight: 400;
  color: #a8a8a8;
  overflow-wrap: break-word;
  /* Optional für Wortumbrüche */
  width: 200px;
  /* Box-Breite */
  overflow: hidden;
  /* Verhindert das Überlaufen */
  text-overflow: ellipsis;
  /* Fügt ... bei Überlauf hinzu */
  white-space: nowrap;
  /* Verhindert den Zeilenumbruch */
}

.taskCardSubtasks {
  font-size: 12px;
  font-weight: 400;
  margin: 0px;
}

.taskContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 21px;
  padding: 20px;
}

.BoardCardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-left: 16px;
}

.worker {
  display: flex;
}

.workerEmblem:first-child {
  margin-left: -16px;
  /* Das erste Element bleibt an der Ausgangsposition */
}

.workerEmblem {
  border: white 1px solid;
  color: white;
  padding: 16px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  position: relative;
  margin-left: -10px;
}

.workerEmblemList {
  border: white 1px solid;
  color: white;
  padding: 1rem;
  border-radius: 100%;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: unset;
  margin-right: -24px;

}

.workerName {
  padding: 16px;
}

#selectedContactsList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.priority {
  position: relative;
}

.priorityBtn {
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  width: 136px;
  height: 56px;
}

.priorityBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

.priorityBtn.active#prioUrgent {
  background-color: red !important;
  color: white;
}

.priorityBtn.active#prioMiddle {
  background-color: #f5a841 !important;
  color: white;
}

.priorityBtn.active#prioLow {
  background-color: #90ee90 !important;
  color: white;
}

.priorityBtn.active img {
  filter: brightness(0) invert(1) !important;
}

.subtaskButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.separatorSubtask {
  width: 1px;
  height: 24px;
  background-color: #a8a8a8;
  margin: 16px;
}

.subTasksList {
  position: relative;
  padding-left: 0px;
  max-height: 120px;
  border: 0.5px solid #ddd;
  overflow-y: auto;
}

/* Optional: Stil für Scrollleisten (nur für WebKit-Browser, z. B. Chrome, Edge, Safari) */
.subTasksList::-webkit-scrollbar {
  width: 8px;
  /* Breite der Scrollleiste */
}

.subTasksList::-webkit-scrollbar-thumb {
  background-color: #aaa;
  /* Farbe des Scrollleisten-Daumen */
  border-radius: 4px;
  /* Abgerundete Ecken */
}

.subTasksList::-webkit-scrollbar-thumb:hover {
  background-color: #888;
  /* Farbe des Daumens beim Hover */
}

#subtaskImg {
  padding-right: 16px;
}

.addSubTaskInput {
  border: none;
}

.addSubTaskInput:focus {
  border: none;
}

.taskCategory {
  border: solid 1px;
  width: fit-content;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  padding: 1px 25px 1px 25px;
}

.categoryTechnicalTask {
  background-color: #1fd7c1;
}

.categoryUserStory {
  background-color: #0038ff;
}

.popupTitle {
  overflow-wrap: break-word;
  max-width: 414px;
}

#description {
  overscroll-behavior-block: contain;
}

.popupDescription {
  font-size: 20px;
  overflow-wrap: break-word;
  font-weight: 400;
  white-space: pre-wrap;
  max-height: 120px;
  overflow: auto;
}

.popupIcons {
  cursor: pointer;
}

.subtasksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.subtask-container {
  max-height: 100px;
  overflow: auto;
}

.subtask-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.editSubtaskItem {
  width: unset;
  display: flex;
  justify-content: start;
  align-items: start;
}

.createContactBar {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.625rem;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  font-size: 1rem;
  display: flex;
  user-select: none;
}

.customDropdown {
  position: relative;
  width: 200px;
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  user-select: none;
}

/* Standard-Zustand für 'todo' */
.subtask-toggle-icon.todo {
  content: url("./../assets/icons/png/checkButtonEmpty.png");
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  /* Sanfte Animation für Transform und Opacity */
  opacity: 1;
  /* Standard-Deckkraft */
}

/* Hover-Zustand für 'todo' */
.subtask-toggle-icon.todo:hover {
  content: url("./../assets/icons/png/checkButtonEmptyHover.png");
  transform: scale(1.1);
  /* Leichtes Vergrößern beim Hover */
  opacity: 0.9;
  /* Leicht reduzierte Deckkraft */
}

/* Standard-Zustand für 'done' */
.subtask-toggle-icon.done {
  content: url("./../assets/icons/png/checkButtonChecked.png");
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  /* Sanfte Animation für Transform und Opacity */
  opacity: 1;
  /* Standard-Deckkraft */
}

/* Hover-Zustand für 'done' */
.subtask-toggle-icon.done:hover {
  content: url("./../assets/icons/png/checkButtonCheckedHover.png");
  transform: scale(1.1);
  /* Leichtes Vergrößern beim Hover */
  opacity: 0.9;
  /* Leicht reduzierte Deckkraft */
}

.contact-name {
  flex-grow: 1;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-right: 10px;
}

.contact-nameList {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-right: 10px;
}

.dropdownList li input[type="checkbox"] {
  width: 10px;
  height: 10px;
  margin: 0;
  cursor: pointer;
}

#selectedContactsList {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 5px;
  margin-left: 22px;
}

.customDropdown {
  position: relative;
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  user-select: none;
}

.dropdownList.open {
  display: block;
}

.dropdownList::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 4px;
}

.customDropdown {
  position: relative;
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  user-select: none;
}

.dropdownList.open {
  display: block;
  width: 440px;
}

.dropdownList::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 4px;
}

.dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdownList li {
  padding: 12px 16px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  color: #333;
  transition: background 0.3s, color 0.3s;
  position: relative;
}

.dropdownList li:hover {
  background: #2a3647;
}

.dropdownList li:hover span {
  color: white;
}

.dropdownList li+li {
  border-top: 1px solid #eee;
}

.selected-contact-item {
  color: white;
  background-color: #091931;
  transition: background-color 0.3s ease;
}

.selected-contact-item span {
  color: white;
}

.selected-contact-item {
  color: white;
  background-color: #091931;
  transition: background-color 0.3s ease;
}



.selected-contact-item span {
  color: white;
}

.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdownList li input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0;
  cursor: pointer;
}

.subtasksCheckbox {
  width: max-content;
}

.subtaskText {
  width: 100%;
  margin: 8px;
  overflow-wrap: break-word;
}

#editTaskPopupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

#editTaskPopupContainer {
  z-index: 30;
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popupOverlay.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.popupContainer {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  height: 870px;
  width: 1116px;
  z-index: 40;
}

.popupInformation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 250px;
}

.workerInformation {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 27px;
}

.workerContainer {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 1rem;
  max-height: 160px;
  overflow: auto;
  padding-left: 50px;
  padding-top: 15px;
}


.workerIcon {
  margin-top: 0px;
  margin-bottom: 0px;
}

.tasksPopupContainer {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  width: 525px;
}

.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popupActions {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
}

.icons {
  cursor: pointer;
  width: 32px;
}

.formParts {
  display: flex;
  justify-content: start;
  align-items: center;
}

.formPart {
  display: flex;
  flex-direction: column;
  width: 440px;
  gap: 15px;
}

.separator {
  width: 2px;
  background-color: #d1d1d1;
  height: 424px;
  margin: 0px 50px 0px 50px;
}


.addTaskContent {
  display: flex;
  flex-direction: column;
  width: 1340px;
  height: 100vh;
}

.editTask {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.addIcons {
  cursor: pointer;
}

input,
textarea,
select {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  font-size: 16px;
}

.closed {
  display: none;
}

textarea {
  resize: none;
  min-height: 140px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 1px solid #29abe2;
}

.dropdownList li:hover {
  background: #2a3647;
}

.status-icon:hover {
  filter: brightness(0) invert(1);
}

li:hover .status-icon {
  filter: brightness(0) invert(1);
}

.selected-contact-item {
  color: white;
  background-color: #091931;
  transition: background-color 0.3s ease;
}

.selected-contact-item span {
  color: white;
}

::placeholder {
  color: #d1d1d1;
}

.requiredStar {
  color: #ff8190;
}

.prioMediumActive {
  background: #ffa800;
  color: white;
}

.prioLowActive {
  background: #7ae229;
  color: white;
}

.taskFormButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px; 
}

.buttonContainer {
  display: flex;
  gap: 16px;
}

.button {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.close {
  width: 24px;
  height: 24px;
}

.clearBtn {
  background-color: white;
  color: #2a3647;
  border: 1px solid #2a3647;
}

.saveChangesButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20px;
  padding: 10px;
}

.createSubtaskBar {
  border-radius: 0.625rem;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  height: 3rem;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.dragging {
  transform: rotate(10deg);
  transition: transform 0.2s ease-in-out;
}

.listBody.highlight {
  border: 2px dashed #4b4b4b;
  background-color: #e7e7e7;
  transition: background-color 0.2s, border 0.2s;
}

.subtask-item:hover .hoverBtnContainer {
  opacity: 1;
  pointer-events: all;
}

.hoverBtnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  padding-left: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.hoverBtn {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.addTaskContent {
  padding-left: 100px;
  padding-top: 30px;
}

.listBody::-webkit-scrollbar {
  width: 8px;
}

.listBody::-webkit-scrollbar-track {
  background: white;
}

.listBody::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
  border: 2px solid white;
  max-height: 20px;
}

.listBody::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.taskContainer::-webkit-scrollbar {
  height: 8px;
}

.taskContainer::-webkit-scrollbar-track {
  background: white;
}

.taskContainer::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
  border: 2px solid white;
  max-height: 20px;
}

.taskContainer::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}


@media (max-width: 1920px) {
  h1 {
    font-size: 61px;
    font-weight: 700;
  }
}

@media (max-width: 1500px) {
  h1 {
    font-size: 56px;
  }

  .searchContainer {
    margin-left: 160px;
  }


  .listBody {
    width: 236px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .boardCard {
    width: 224px;
    height: 230px;
  }

  .taskCardSubtasks {
    font-size: 10px;
  }

  h4 {
    font-size: 22px;
  }

  .nothingToDo {
    width: 200px;
  }
}

@media (max-width: 1200px) {
  .listBody {
    width: 183px;
    margin-left: 8px;
  }

  h4 {
    font-size: 18px;
  }

  .nothingToDo {
    width: 183px;
  }

  .searchContainer {
    margin-left: 120px;
  }

  .taskCategory {
    font-size: 12px;
  }

  .popupContainer {
    width: unset;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  #addTaskFormTask {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
  }

  .formParts {
    flex-direction: column;
  }

  .separator {
    width: 424px;
    height: 2px;
    margin: 10px 0px 10px 0px;
  }

  .taskFormButtons {
    padding-top: 20px;
    flex-direction: column;
  }

  .progress {
    width: 100px;
  }

  #selectedContactsList {
    position: unset;
  }
}

@media (max-width: 1111px) {
  .listBody {
    width: 163px;
  }

  h4 {
    font-size: 18px;
  }

  .nothingToDo {
    width: unset;
  }

  .searchContainer {
    margin-left: 120px;
  }

  .categoryTechnicalTask {
    font-size: 12px;
  }

  .categoryUserStory {
    font-size: 12px;
  }

  .taskCardTitle {
    font-size: 12px;
  }

  .taskCardDescription {
    font-size: 12px;
  }

  .taskCardSubtasks {
    font-size: 8px;
  }

  .progress {
    width: 80px;
  }

  .workerEmblem {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 1350px) {
  h1 {
    font-size: 42px;
  }

  .BoardCardFooter {
    padding-top: unset;
  }

  body {
    overflow-x: hidden;
    overflow-y: auto;
  }



  .nothingToDo {
    width: 70vh;
  }

  .listBody {
    width: auto;
    height: max-content;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
  }

  .taskList {
    flex-direction: column;
  }

  .taskContainer {
    flex-direction: row;
    justify-content: start;
    width: 656px;
    overflow: auto;
  }
}

@media (max-width: 1200px) {
  .BoardCardFooter {
    padding-top: 24px;
  }
}

@media (max-width: 1110px) {

  .BoardCardFooter {
    padding-top: 20px;
  }

  .taskList {
    padding-left: 64px;
  }

  .nothingToDo {
    width: 60vh;
  }


  .searchContainer {
    flex-direction: column;
    margin-left: unset;
    align-items: start;
    gap: 20px;
  }

  .taskContainer {
    width: 576px;
    overflow-x: auto;
    height: max-content;
    padding: 8px;
  }




  .boardHead {
    margin-left: 92px;
    flex-direction: column;
    align-items: start;
  }

  .searchContainer {
    flex-direction: column;
    gap: 9px;
  }
}

@media (max-width: 902px) {
  .boardHead {
    margin-left: 92px;
    flex-direction: column;
  }

  .searchContainer {
    flex-direction: column;
    gap: 9px;
  }
}

@media (max-width: 767px) {
  .boardHead {
    margin-left: 92px;
    justify-content: start;
    align-items: start;
  }

  .board {
    overflow: hidden;
  }

  .nothingToDo {
    width: 40vh;
  }

  .tasksPopupContainer {
    width: unset;
  }

  .taskContainer {
    width: 376px;
    height: 280px;
    padding: 20px;
  }

  .taskList {
    padding-left: 64px;
  }

  .boardHead {
    flex-direction: column;
  }

  .searchContainer {
    flex-direction: column;
    gap: 9px;
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .listBody {
    width: 91%;

  }

  .taskContainer {
    width: 91%;
  }
}

@media (max-width: 580px) {
  .board {
    background-color: #f0f3f6;
  }

  .boardCard {
    background-color: white !important;
    width: 250px;
    height: 230px;
  }

  .dropdownList.open {
    width: 332px;
  }

  .taskList {
    padding-left: 2px;
  }

  h1 {
    justify-content: center;
    display: flex;
  }

  .formPart {
    width: 100%;
  }

  .separator {
    width: 200px;
  }

  .priorityBtnContainer {
    flex-direction: column;
    gap: 8px;
  }

  .priorityBtn {
    width: 220px;
  }

  .taskContainer h1 {
    font-size: 42px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .boardHead {
    display: contents;
  }

  .searchBar {
    width: 98%;
  }

  .listBody {
    width: 97%;
  }

  .taskContainer {
    width: 98%;
  }

  .searchContainer {
    align-items: center;
  }
}

@media (max-width: 530px) {
  .popupInformation {
    padding-right: 130px;
  }

  .popupContainer {
    height: -webkit-fill-available;
    margin-top: 48px;
    margin-bottom: 48px;
  }
}

@media (max-width: 467px) {
  .nothingToDo {
    width: 32vh;
  }

  .popupInformation {
    padding-right: unset;
  }

  h1 {
    font-size: 32px;
  }

  .buttonContainer {
    flex-direction: column;
  }
}

@media (max-width: 367px) {


  .nothingToDo {
    width: 25vh;
  }

  .searchBar {
    width: 180px;
  }

  .popupOverlay {
    align-items: start;
  }

  .taskContainer {
    width: 216px;
  }
}

@media (max-width: 385px) {
  .popupOverlay {
    display: block;
    /* Adjusted */
  }

  .tasksPopupContainer {
    margin-top: 20px;
  }
}