body{
    overflow: hidden;
}
.contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contacts {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.contactsBar {
    display: flex;
    flex-direction: column;
    width: 456px;
    height: 1024px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: white;
    overflow-y: scroll;
    max-height: fit-content;
}

.contactsBar::-webkit-scrollbar {
    width: 8px;
}

.contactsBar::-webkit-scrollbar-track {
    background: white;
}

.contactsBar::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
    border: 2px solid white;
    max-height: 20px;
}

.contactsBar::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.addContactBtn {
    height: 56px;
    width: 352px;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;

}

.shortInfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}

.shortInfo:hover {
    cursor: pointer;
    background-color: rgb(42, 54, 71);
    color: white;
    

}

.seperator {
    height: 3px;
    width: 150px;
    background-color: #29ABE2;
}


.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contactDetails {
    background-color: rgb(246, 247, 248);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding-left: 65px;
}

.contactHeadline {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.contactInfoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 200px;
}

.InfoBoxHead {
    display: flex;
    align-items: center;
}

.ContactUserTag{
    border: 3px solid black;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(41, 171, 226);
    margin-right: 30px;
    margin-left: 30px;
}

.userTagBig {
    border: 3px solid white;
    border-radius: 120px;
    width: 120px;
    height: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    background-color: rgb(248, 113, 17);
    margin-right: 30px;
    font-size: 47px;
    font-weight: 500;
}

.blueLine {
    border-left: 3px solid #29ABE2;
    height: 59px;
    margin-left: 30px;
    margin-right: 30px;
}

.userTag {
    border: white 1px solid;
    color: white;
    padding: 16px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 61px;
    font-weight: 700;
}
h3{
    font-size: 27px;
    font-weight: 400;
}