body{
    overflow: hidden;
}

.mailTo{
    color: rgb(103, 176, 245)!important;
    font-size: 16px;
    font-weight: 400;
}

p{
    margin: 0;
}

.contactContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.contacts {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.contactsBar {
    display: flex;
    flex-direction: column;
    width: 456px;
    height: 90vh;
    padding-left: 35px;
    padding-right: 35px;
    background-color: white;
    overflow-y: scroll;   
}

.contactsBar::-webkit-scrollbar {
    width: 8px;
}

.contactsBar::-webkit-scrollbar-track {
    background: white;
}

.contactsBar::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
    border: 2px solid white;
    max-height: 20px;
}

.contactsBar::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.addContactBtn {
    height: 56px;
    width: 352px;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;

}

.shortInfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}

.shortInfo:hover {
    cursor: pointer;
    background-color: rgb(42, 54, 71);
    color: white;
    

}

.contact-group{
    font-size: 20px;
    font-weight: 400;
}

.separator {
    padding-bottom: 20px;
    border-bottom: solid rgb(209, 209, 209) 1px;   
}


.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contactDetails {
    background-color: rgb(246, 247, 248);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding-left: 65px;
}

.contactHeadline {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.contactInfoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
}

.InfoBoxHead {
    display: flex;
    align-items: center;
}

.ContactUserTag{
    border: 3px solid black;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(41, 171, 226);
    margin-right: 30px;
    margin-left: 30px;
    font-size: 12px;
}

.userTagBig {
    border: 3px solid white;
    border-radius: 120px;
    width: 120px;
    height: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    background-color: rgb(248, 113, 17);
    margin-right: 30px;
    font-size: 47px;
    font-weight: 500;
}

.email{
    margin-bottom: 30px;
}

.phone{
    gap: 15px;
}

.blueLine {
    border-left: 3px solid #29ABE2;
    height: 59px;
    margin-left: 30px;
    margin-right: 30px;
}

.userTag {
    border: white 1px solid;
    color: white;
    padding: 16px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 61px;
    font-weight: 700;
}
h3{
    font-size: 27px;
    font-weight: 400;
}

h4{
    font-size: 20px;
    font-weight: 400;
    padding: 50px 0 50px 0 ;
}

#contactDialog{
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 55;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(66, 66, 66, 0.637);
    margin: auto;   
}

.newContactContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.newContact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100vw;
    border-radius: 15px;
    color: white;
    
}

.addContactLogo{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(42, 54, 71);
    height: 100%;
    width: 470px;
    gap:10px;
    padding-left: 50px;
    border-radius: 20px 0px 0px 20px;
}

.addContacts{
    padding-left: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    height: 100%; 
    width: 640px;  
    border-radius: 0 20px 20px 0px;
}

.createContact{
    display: flex;
    width: 50%;
    flex-direction: column;
    padding-left: 50px;
}

.contacInput{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}

.innerInputfield {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 350px;
    border: none;
    padding-left: 5px;

}

.noBorder {
    border: none;
}


.closeBtn{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    width: 350px;
}

.pointer{
    cursor: pointer;
}

.close:hover{
    cursor: pointer;
}

.createContactBtn{
display: flex;
justify-content: space-between;
}

.addbutton{
    font-size: 18px;
    font-weight: 400;
    padding: 5px;

}

.inputBorder{  
border: solid rgba(0, 0, 0, 0.144) 1px;
height: 50px;
width: 350px;
border-radius: 10px;
}

.deleteDialog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    padding-left: 50px;
    font-size: 20px;

}

.deleteBtn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

input{
    width: 300px;
}