th {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

td {
    padding-bottom: 24px;
    padding-left: 24px;
}

.number {
    font-size: 26px;
}

.tableHeader {
    margin: 0px;
}

.helpContent {
    padding-left: 100px;
    max-width: 1340px;
    overflow-y: auto;
} 

.helpHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 250px;
}