th {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

td {
    padding-bottom: 24px;
    padding-left: 24px;
}

.number {
    font-size: 26px;
}

.tableHeader {
    margin: 0px;
}

.helpContent {
    padding-left: 100px;
    overflow-y: auto;
    margin-right: 30px;

}

.helpHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;

}

.helpHeadline img{
    cursor: pointer;
   }

@media (max-width: 1024px) {
    .helpContent {
        padding: 25px 50px; 
    }
}