.legalNoticeContent {
    padding-left: 100px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: start ;
    flex-direction: column;
}

.legalNoticeHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 580px;
}