html, body {
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
}


.legalNoticeContent {
    padding-left: 100px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: start ;
    flex-direction: column;
}

.legalNoticeHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 580px;
}


@media (max-width: 1024px) {
    .legalNoticeContent {
        padding: 25px 50px; 
    }
}