body {
    margin: 0;
    max-width: 1440px;
    height: 100vh;
    background-color: #F6F7F8;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    
}

.loginBody{
    animation: fadeInBlur 1s ease forwards;
}

@keyframes fadeInBlur {
    0% {
        filter: blur(100px); /* Anfangsunschärfe */
    }
    100% {
        filter: blur(0px); /* Schärfe wiederherstellen */
    }
}

.loginBackground {
    margin-top: 64px;
    margin-bottom: 64px;
    background-color: white;
    height: 493px;
    width: 652px;
    border-radius: 30px;
}

h1 {
    font-size: 73px;
    font-weight: 700;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.borderInputFields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.innerInputfield {
    width: 380px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.seperator {
    height: 3px;
    width: 150px;
    background-color: #29ABE2;
}


.border {
    border: 2px;
    border-style: solid;
    border-color: #D1D1D1;
    border-radius: 10px;
    height: 48px;
    width: 422px;
    justify-content: center;
    margin: 30px;
}


.noBorder {
    border: none;
}


.logInBtn {
    color: white;
    border-radius: 8px;
    background-color: #2A3647;
    height: 48px;
    width: 110px;
    font-size: 21px;
}

.guestBtn {
    color: #2A3647;
    border-radius: 8px;
    background-color: white;
    height: 48px;
    width: 177px;
    font-size: 21px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}


.signUpElement {
    margin-right: 76px;
    margin-top: 67px;
}


.checkboxOne {
    border-radius: 3px;
    border: 2px;
    border-style: solid;
    border-color: #2A3647;
}


.registrationLink {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}


.loginHeader {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 50px;
    padding-top: 67px;

}


.registrationTrigger {
    margin-bottom: 0px;
    padding-right: 40px;
}

.saveLogin {
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    margin-bottom: 50px;
}

.loginfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.logoLogin {
        position: absolute;
        top: 80px;
        left: 77px;
        width: 100px;
        display: flex;
        justify-content: start;
        align-items: start;
    }