body {
    margin: 0;
    max-width: 1440px;
    height: 100vh;
    background-color: #F6F7F8;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.none {
    display: none !important;
}

.registration {
    height: 630px;
    width: 598px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    animation: fadeInBlur 1s ease forwards;
    margin-bottom: 192px;
}

.privacylink {
    color: #29ABE2;
}

.regHead {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.conditionText {
    color: rgba(209, 209, 209, 1);
}

.textColor {
    color: rgba(209, 209, 209, 1);
}


.textColor:hover {
    color: #29ABE2;
}

input::placeholder {
    color: rgba(209, 209, 209, 1);

}

.empty {
    width: 32px;
    height: 32px;
}

.failtureText {
    color: red;
    font-size: 12px;
}

.condition {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.condition a {
    padding-left: 5px;
}

.conditionBox {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.signUpBtn {
    color: white;
    border-radius: 8px;
    background-color: #2A3647;
    height: 48px;
    width: 110px;
    font-size: 21px;
}

#signUpBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.checkboxFull:hover {
    content: url('./../assets/icons/svg/vollCheckboxMitHoverEffect.svg');
}

.checkboxEmpty:hover {
    content: url('./../assets/icons/svg/leereCheckboxHover.svg');
}

.signUpBtn:hover {
    background-color: #29ABE2;
    border: none;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.btnContainer:hover {
    src: local('./assets/icons/svg/Property 1=checked.svg');
}

.signUpfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    animation: fadeInBlur 1s ease forwards;
    margin-bottom: 64px;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: visibility 0s, opacity 0.5s ease-in-out;
    opacity: 0;
}

#snackbar.visible {
    visibility: visible;
    opacity: 1;
}

#snackbar.hidden {
    opacity: 0;
}

.logoLogin {
    padding-top: 80px;
    padding-left: 75px;
    scale: 1.2;
}

.signUp {
    font-weight: 700;
    font-size: 61px;
}

.seperator {
    background-color: #29ABE2;
    height: 3px;
    width: 150px;
}

.alignCenter {
    align-items: center;
}

.hidden-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
}

.visible-text {
    opacity: 1;
    visibility: visible;
}

.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.borderInputFields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.innerInputfield {
    width: 380px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.marBo30 {
    margin-bottom: 30px;
}

.border {
    border: 2px;
    border-style: solid;
    border-color: #D1D1D1;
    border-radius: 10px;
    height: 48px;
    width: 422px;
    justify-content: center;
}

.input {
    width: 328px;
}

.noBorder {
    border: none;
}

@media(max-width: 850px) {
    .logoLogin {
        scale: 1;
    }
}

@media (max-width: 700px) {
    .registration{
        width: 494px;
    }
    .border{
        width: 386px;
    }
    .innerInputfield {
        width: 359px;
    }
}

@media (max-width: 560px) {
    .logoLogin {
        scale: .6;
        padding-top: 54px;
        padding-left: 32px;
    }
    .registration{
        width: 396px;
        height: 595px;
        margin-bottom: 64px;
    }
    .border{
        width: 364px;
    }
    .innerInputfield {
        width: 322px;
    }
    .signUp{
        font-size: 47px;
    }
    .seperator{
        width: 88px;
    }
}
