
body {
    margin: 0;
    max-width: 1440px;
    height: 100vh;
    background-color: #F6F7F8;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.registration {
    margin-bottom: 64px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    gap: 28px;
    padding: 20px 50px;
    margin-top: 84px;
    animation: fadeInBlur 1s ease forwards;
}

.condition {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.condition a {
    padding-left: 5px;
}

.conditionBox {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.signUpBtn {
    color: white;
    border-radius: 8px;
    background-color: #2A3647;
    height: 48px;
    width: 110px;
    font-size: 21px;
}

#signUpBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.signUpfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    animation: fadeInBlur 1s ease forwards;
}


/* Snackbar-Stil */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: visibility 0s, opacity 0.5s ease-in-out;
    opacity: 0;
  }
  
  #snackbar.visible {
    visibility: visible;
    opacity: 1;
  }
  
  #snackbar.hidden {
    opacity: 0;
  }
  
  .logoLogin {
    position: absolute;
    top: 80px;
    left: 77px;
    width: 100px;
    display: flex;
    justify-content: start;
    align-items: start;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.borderInputFields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.innerInputfield {
    width: 380px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.loginBackground {
    margin-top: 64px;
    margin-bottom: 64px;
    background-color: white;
    height: 493px;
    width: 652px;
    border-radius: 30px;
}

.border {
    border: 2px;
    border-style: solid;
    border-color: #D1D1D1;
    border-radius: 10px;
    height: 48px;
    width: 422px;
    justify-content: center;
    margin: 30px;
}

.noBorder {
    border: none;
}