.blueLine {
  border-left: 3px solid #29abe2;
  height: 59px;
  margin-left: 30px;
  margin-right: 30px;
}

.summary {
  padding-left: 100px;
  width: 1340px;
}

.greyLine {
  border-left: 2px solid #d1d1d1;
  height: 102px;
  margin-left: 30px;
  margin-right: 30px;
}

.join360 {
  padding-top: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-bottom: 50px;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 63px;
  height: 101px;
}

.do {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  box-shadow: 0px 2px 8px rgb(223, 224, 225);
  border-radius: 30px;
  width: 264px;
  height: 168px;
}

.doIcon {
  width: 69px;
}

.urgent {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 8px rgb(223, 224, 225);
  border-radius: 30px;
  width: 560px;
  height: 168px;
  margin-top: 31px;
}

.tasksBox {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 8px rgb(223, 224, 225);
  border-radius: 30px;
  width: 168px;
  height: 168px;
  flex-direction: column;
}

.tasks {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 28px;
  margin-top: 31px;
}

.userGreeting {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 100px;
}

.name {
  color: #29abe2;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.d_flex {
  display: flex;
}

.taskNumber {
  font-size: 64px;
  font-weight: 600;
  margin: 0px;
}

.margin_0 {
  margin: 0px;
}

@media (max-width: 1200px) {
  .summary {
    padding: 2px 9px;
  }

  h1 {
    font-size: 45px;
  }

  .dashboard {
    margin-right: 40px;
  }

    .userGreeting {
      padding-left: 41px 
  }
  
}

@media (max-width: 1100px) {
    .summary {
      padding-left: 60px;
      margin-right: 10px;
      width: auto;
    }
  
    .tasksBox {
      width: 151px;
    }
  
    h1 {
      font-size: 56px;
    }
  
    h3 {
      font-size: 22px;
    }
  
    .do {
      width: 240px;
      height: 140px;
    }
  
    .urgent {
      height: 160px;
      width: 500px;
    }

    .userGreeting {
      margin-top: 96px;
      animation-name: greeting;
      animation-duration: 3s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      position: absolute;
      top: -12px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: #ffffff;
    }
  }
  
  @media (max-width: 790px) {
    .summary {
      padding-left: 50px;
      margin-right: 8px;
      width: auto;
    }
  
    h1 {
      font-size: 50px;
    }
  
    h3 {
      font-size: 21px !important;
    }
  
    .do {
      width: 230px;
      height: 130px;
    }
  
    .urgent {
      width: 480px;
      height: 150px;
    }
  
    .tasksBox {
      width: 143px;
      height: 168px;
    }
  }
  
  @media (max-width: 710px) {
    .summary {
      padding-left: 31px;
      margin-right: 4px;
      width: auto;
    }
  
    h1 {
      font-size: 46px;
    }

    .join360 h3 {
      font-size: 18px;
    }

    .join360 h1 {
      font-size: 40px !important;
    }
  
    h3 {
      font-size: 19px;
    }
  
    .do {
      width: 201px;
      height: 110px;
    }
  
    .urgent {
      width: 438px;
      height: 126px;
    }
  
    .tasksBox {
      width: 130px;
      height: 130px;
    }
  
    .taskNumber {
      font-size: 50px !important;
    }
  
    .text {
      font-size: 13px;
    }
  }
  
  @media (max-width: 580px) {
    body {
      overflow-y: hidden !important;
    }
    .summary {
      justify-content: center;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  
    .doIcon {
      width: 45px;
  }    
  
    h1 {
      font-size: 42px;
    }
  
    h3 {
      font-size: 18px;
    }
  
    .do {
      width: 190px;
      height: 100px;
    }
  
    .urgent {
      width: 400px;
      height: 120px;
    }
  
    .tasksBox {
      width: 120px;
      height: 130px;
    }
  
    .tasksBox p {
      font-size: 10px;
    }
  }
  
  @media (max-width: 520px) {
    html,
    body {
      overflow: hidden;
    }
  
    h1 {
      font-size: 38px;
    }
  
    h3 {
      font-size: 16px;
    }
  
    .do {
      width: 180px;
      height: 90px;
    }
  
    .urgent {
      width: 380px;
      height: 110px;
    }
  
    .tasksBox {
      width: 110px;
      height: 110px;
    }

    .text {
      font-size: 11px;
    }
  }
  
  @media (max-width: 430px) {
    html, body {
      overflow: hidden;
    }
  
    .summary img {
      height: 34px;
      width: 34px;
    }
  
    h1 {
      font-size: 34px 
    }

    h3 {
      font-size: 14px;
    }
  
    .do {
      width: 160px;
      height: 80px;
    }
  
    .urgent {
      width: 340px;
      height: 95px;
    }

    .greyLine {
        border-left: 2px solid #d1d1d1;
        height: 47px;
    }    
  
    .tasksBox {
      width: 95px;
      height: 95px;
    }
  
    .text {
      font-size: 10px;
    }
  }

  @media (max-width: 410px) {
    html, body {
        overflow: hidden;
    }

    .summary img {
        height: 30px;
        width: 30px;
    }

    h1 {
        font-size: 32px;
    }

    h3 {
        font-size: 16px !important;
    }

    .do {
        width: 150px;
        height: 70px;
    }

    .urgent {
        width: 320px;
        height: 85px;
    }

    .tasksBox {
        width: 90px;
        height: 90px;
    }

    .text {
        font-size: 9px;
    }
}

@media (max-width: 340px) {
  .dashboard {
      margin-right: 20px;
  }
}

  
  @keyframes greeting {
    0% {
      opacity: 2;
      pointer-events: auto;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }
  